{% set map   = page.header.map %}
{% set image = page.header.image | first %}
{% set color = page.header.map.markercolor|default('#D97210')|hex2rgbRaw|split(",") %}
{% set icon  = media['user://images/map-icons/'~map.markericon].colorize(color[0], color[1], color[2]) %}

<div class="{{ header.column}} ratio ratio-{{ page.header.scale|default('1x1') }}"
    {% if page.header.custom_styles %} style="{{ page.header.custom_styles }}"{% endif %}>

    {% if theme_var('map.type') == 'google' and theme_var('map.api_key') == '' %}
        <h1>You must specify an API key in the theme config to use Google Maps</h1>
    {% else %}
    {# For debugging map issues:
        <!-- 
            markercolor: {{ map.markercolor }}
            color: {{ color|join(" ") }} 
            height: {{ icon.height }}
        -->
    #}
        <div class          = "js-map {{ page.header.custom_classes }}" 
            {% if theme_var('map.type') == 'google' %} 
                map-infowindow  = '<div class="poi-info-window gm-style"><div class="title">{{ map.markertitle }}</div><div class="address">{{ map.infowindow|nl2br }}</div></div>'
                map-style       = '{{ map.style }}'
            {% elseif theme_var('map.type') == 'osm' %}
                map-infowindow  = '{{ map.infowindow | nl2br}}'
            {% endif %}
            map-controls        = '{{ map.controls }}'
            map-lon             = '{{ map.longitude }}'
            map-lat             = '{{ map.latitude }}'
            map-marker-anchor-x = '{{ map.anchorX|default(5) }}'
            map-marker-anchor-y = '{{ map.anchorY|default(5) }}'
            map-marker-title    = '{{ map.markertitle }}'
            map-marker-icon     = '{{ icon.url() }}'
            map-marker-scale    = '{{ map.markerscale|default(5) }}'
            map-marker-size     = '{{ icon.width }}'
            map-marker-color    = '{{ map.markercolor|default('#D97210') }}'
            map-zoom            = '{{ map.zoom }}'>
        </div>
        {% if map.description and map.description_position == 1 %}
            <div class="caption_1">
                {{ map.description }}
            </div>
        {% endif %}

        {% if map.description and map.description_position == 2 %}
            <div class="caption_2">
                {{ map.description }}
            </div>
        {% endif %}

    {% endif %}

</div>