{% extends 'partials/text.html.twig' %}

{% set flex         = grav.get('flex_objects') %}
{% set treatments   = flex.directory('treatments') %}  
{% set collection   = treatments.getCollection() %}

{% set segments     = uri.route|split('/')|filter(v => v) %}
{% set current_slug = segments|last %}
{% set is_root      = segments|length == 1 and current_slug == 'treatments' %}

{% block body %}
	{# Debug stuff #}
	{{ dump(uri.route) }}
	{{ dump(current_slug) }}
	{{ dump(is_root) }}

    {% if is_root %}
		<!-- no slug found, showing list view -->
		

		<div class="col-12 my-2">
			<!-- Space -->
		</div>

		{% include 'modular/treatments-list.html.twig' %}

	{% else %}

	
		<!-- slug found, detail view -->

		{% set treatment_collection = collection.filterBy({'slug': current_slug}) %}
		{% set treatment = treatment_collection|first %}
		{{ dump(treatment_collection) }}

		{% set title        = treatment.title %}
		{% set summary      = treatment.short_description %}
		{% set image        = treatment.image|first %}
		{% set button_url   = treatment.url ?? '#' %}
		{% set button_text  = treatment.button_text ?? 'Read more' %}
		{% set button_style = treatment.button_style ?? 'btn-outline-primary' %}

		<div class="col-12 my-2">
			<!-- Space -->
		</div>

		<div class="col-12 col-lg-8">
			<h1 class="">{{ title }}</h1>
			
			<hr class="w-100 my-4" />
			{{ treatment.long_description|markdown }}
		</div>

		<div class="col-4 p-3">
			{% for img in treatment.image %}
				<img src="{{ media[img.path].url }}" alt="{{ img.alt }}" class="img-fluid rounded-2" />
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}