{% extends 'partials/text.html.twig' %}


{% set flex         = grav.get('flex_objects') %}
{% set treatments   = flex.directory('treatments') %}  
{% set collection   = treatments.getCollection() %}


{% set segments     = uri.route|split('/')|filter(v => v) %}
{% set current_slug = segments|last %}
{% set is_root      = segments|length == 1 and current_slug == 'treatments' %}

{% block contents %}
	{# Debug stuff #}
	{{ dump(uri.route) }}
	{{ dump(current_slug) }}
	{{ dump(is_root) }}

    {% if is_root %}
		<!-- Root! Showing summary -->
		{{ content|raw }}
	{% else %}
	
		<!-- Not root! Showing specific summary -->

		{% set treatment_collection = collection.filterBy({'slug': current_slug}) %}
		{% set treatment            = treatment_collection|first %}

		{% set title                = treatment.title %}
		{% set summary              = treatment.short_description %}

		<h1>{{ title }}</h1>
		
		{{ summary|markdown }}

		<div class="col-12 col-md-8 offset-md-2 col-xxl-6 offset-xxl-3 pt-4">
			<a class="btn btn-lg btn-outline-primary text-center align-self-center w-100" href="{{ uri.route }}#readmore">
				<i class="fa-solid fa-chevron-down"></i>
				Read more
			</a>
		</div>

	{% endif %}
{% endblock %}