{% spaceless %}
	{% set navbar = theme_var('navbar') %}

	{% set navbar_class_array = [
        "navbar",
        navbar.type,
        navbar.style,
        navbar.bgstyle,
        (navbar.expand != 'none' ? navbar.expand : ''),
        page.header.navbar_classes
    ] %}

	{% set navbar_class = navbar_class_array|filter(v => v is not empty)|join(" ") %}
	{% set navbar_icon = page.header.navbar_icon ?: navbar.icon %}

{% endspaceless %}
{% if navbar.container=="navbar" %}
	<div class="container">
	{% endif %}
	<nav class="{{ navbar_class }} {{navbar.classes}}" style="background-color: {{ navbar.bgcolor!=" #ffffff" ? navbar.bgcolor : '' }};" role="navigation">
		{% if navbar.container=="links" %}
			<div class="container">
			{% endif %}

			<div class="row w-100 justify-content-between align-items-center">
				{# Logo #}
				<div class="col-12 col-md-auto">
					<a class="navbar-brand d-flex align-items-center me-1" href="{{ base_url == '' ? '/' : base_url }}">
						{% if navbar_icon %}
						<img 
							src   = "{{ media['user://images/icons/'~navbar_icon].resize(navbar.icon_size ?: 36).url() }}" 
							alt   = "{{ site.title|e('html') }} logo" 
							class = "navbar-brand-icon me-2 animate__animated animate__fadeInLeft"
							/>
						{% endif %}

						{% if navbar.show_title_in_navbar %}
							<span class="animate__animated animate__fadeIn">
								{{ site.title|e('html') }}
							</span>
						{% endif %}
					</a>
				</div>

				{# Collapse Button #}
				<div class="col-auto ms-auto d-xl-none animate__animated animate__fadeInRight">
					<button type       = "button" 
						class          = "navbar-toggler" 
						data-bs-toggle = "collapse" 
						data-bs-target = "#top-navbar" 
						aria-controls  = "top-navbar" 
						aria-expanded  = "false" 
						aria-label     = "Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>

				{# Navbar #}
				<div class="col-12 col-xxl-auto animate__animated animate__fadeInDown animate__faster">
					<div class="navbar-collapse collapse justify-content-center" id="top-navbar">
						<ul class="navbar-nav">
							{% for page in pages.children.visible %}
								{{ dump(page) }}

								{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
								{% if navbar.dropdown and page.children.visible.count > 0 %}

									<li class="nav-item dropdown {{ current_page }}" {% if page.active %} aria-current="true"{% endif %}>
										<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ page.menu }}</a>
										<div class="dropdown-menu">
											{% set current_parent = page.active ? 'active' : '' %}
											<a href="{{ page.url }}" class="dropdown-item {{ current_parent }}">{{ page.menu }}</a>
											<div class="dropdown-divider"></div>
											{% for child in page.children.visible %}
												{% set current_child = (child.active or child.activeChild) ? 'active' : '' %}
												<a href="{{ child.url }}" class="dropdown-item {{ current_child }}">{{ child.menu }}</a>
											{% endfor %}
										</div>
									</li>
								{% else %}
									<li class="nav-item {{ current_page }}">
										<a class="nav-link" href="{{ page.url }}">{{ page.menu }}</a>
									</li>
								{% endif %}
							{% endfor %}

							{% for mitem in site.menu %}

								<li class="nav-item">
									{% set icon = mitem.icon ? '<i class="fa fa-fw fa-' ~ mitem.icon ~ '"></i> ' : '' %}
									<a class="nav-link" href="{{ mitem.url }}">{{ icon|raw }}{{ mitem.text }}</a>
								</li>
							{% endfor %}

							{% if config.plugins.login.enabled and grav.user.username %}
								<li class="nav-item">
									<span class="nav-link">
										<i class="fa fa-lock"></i>
										{% include 'partials/login-status.html.twig' %}</span>
								</li>
							{% endif %}

							{% if navbar.colorSwitch_enabled == 1 %}

								{% do assets.addJs('theme://src/js/bs-colormode.js', 100) %}

								<li class="nav-item dropdown">
									<button class="btn btn-link nav-link dropdown-toggle" id="bd-theme" type="button" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)">
										<i class="bi my-1 theme-icon-active bi-circle-half"></i>
										<span class="d-none ms-2" id="bd-theme-text">Toggle theme</span>
									</button>

									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text" data-bs-popper="static">
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
												<i class="bi me-2 opacity-50 bi-sun-fill"></i>
												Light
											</button>
										</li>
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
												<i class="bi me-2 opacity-50 bi-moon-stars-fill"></i>
												Dark
											</button>
										</li>
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
												<i class="bi me-2 opacity-50 bi-circle-half"></i>
												Auto
											</button>
										</li>
									</ul>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>

			{% if navbar.container=="links" %}
			</div>
		{% endif %}

	</nav>


	{% if navbar.container=="navbar" %}
	</div>
{% endif %}

{# SUb-navbar Banner #}
{% set target_page = page.find("/included-content/_top-banner") %}
<!-- start top banner -->

{% if target_page %}
	<div class="container-fluid">
		<div class="row top-banner">
			{{ target_page.content|raw }}
		</div>
	</div>
{% endif %}

<!-- end top banner -->
