{% set value       = (value is null ? field.default : value) %}
{% set label_width = form.label_width|default(3) %}
{% set input_width = 12 - label_width %}{% if input_width < 1 %}{% set input_width = 12 %}{% endif %}
{% set row_margin  = form.row_margin|default("mb-3") %}

<div class="row {{ row_margin }}">
    <label class="col-form-label col-sm-{{ label_width }}">
        {% if field.help %}
            <span class="d-inline-block" data-bs-toggle="tooltip" title="{{ field.help|e }}">
                {{ field.label|default(field.name|capitalize)|t }}
            </span>
        {% else %}
            {{ field.label|e }}
        {% endif %}

        {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
    </label>
    <div class="col-sm-{{ input_width }}">
        {% for key, text in field.options %}
        {% set checked = (field.use == 'keys' ? value[key] : key in value) %}
        {% set name    = field.name|fieldName ~ '[' ~ (field.use == 'keys' ? key : '') ~ ']' %}
        {% set key     = (field.use == 'keys' ? '1' : key) %}
        {% set id      = "checkbox_" ~ field.name ~ key %}
        <div class = "form-check">
            <input type  = "checkbox"
                   value = "{{ key|e }}"
                   class = "form-check-input"
                   name  = "{{ (scope ~ name)|fieldName }}"
                   id    = "{{ id }}"
                   {% if checked %}checked="checked"{% endif %}
                   {% if field.validate.required %}required="required"{% endif %}
                />
            <label class = "form-check-label" for = "{{ id }}">
                {{ text|e }}
            </label>
        </div>
        {% endfor %}
    </div>
</div>
