{% set value       = (value is null ? field.default : value) %}
{% set label_width = form.label_width|default(3) %}
{% set input_width = 12 - label_width %}{% if input_width < 1 %}{% set input_width = 12 %}{% endif %}
{% set row_margin  = form.row_margin|default("mb-3") %}

<div class="row {{ row_margin }}">
    <label class="col-form-label col-sm-{{ label_width }}">
        {% if field.help %}
            <span class="d-inline-block" data-bs-toggle="tooltip" title="{{ field.help|e }}">
                {{ field.label|default(field.name|capitalize)|t }}
            </span>
        {% else %}
            {{ field.label|default(field.name|capitalize)|t }}
        {% endif %}
        
        {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
    </label>
    <div class="col-sm-{{ input_width }}">
        <input class="form-control rounded-{{ form.rounded|default(0) }}"
               type="date"
               name="{{ (scope ~ field.name)|fieldName }}"
               value="{{ value }}"
               {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
               {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
               {% if field.autocomplete in ['on', 'off'] %}autocomplete="{{ field.autocomplete }}"{% endif %}
               {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
               {% if field.validate.min %}min="{{ field.validate.min }}"{% endif %}
               {% if field.validate.max %}max="{{ field.validate.max }}"{% endif %}
            />
    </div>
</div>
