{% set value       = (value is null ? field.default : value) %}
{% set label_width = form.label_width|default(3) %}
{% set input_width = 12 - label_width %}{% if input_width < 1 %}{% set input_width = 12 %}{% endif %}
{% set row_margin  = form.row_margin|default("mb-3") %}

<div class="row {{ row_margin }}">
    <div class="col-sm-{{ input_width }} offset-sm-{{ label_width }}">
        <div class="form-check">
            <input type   = "checkbox"
                    name  = "{{ (scope ~ field.name)|fieldName }}"
                    class = "form-check-input"
                    id    = "{{ field.name }}"
                    {% if value == true %} checked="checked" {% endif %}
                    {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
                    {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
                    {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
                />
            <label class="form-check-label" for="{{ field.name }}">
                {{ field.label|e }} {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
            </label>
        </div>
    </div>
</div>
